
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: #4d4b4b;
  }
  
  main {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
  
  .nav {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  
  .nav div {
    position: fixed;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(90, 89, 89, 0.03)
    );
    height: 100%;
    width: 20%;
  }
  
  .nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
  }
  
  .nav li a:hover {
    color: rgb(13, 153, 150);
  }
  
  .home-link {
    font-weight: bold;
  }
  
  .students-link {
    font-weight: bold;
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
  }
  
  .students {
    margin-left: 30px;
  }
  
  nav li {
    margin: 0 0 20px 0;
    list-style: none;
    padding: 0;
  }
  
  .home,
  .students-link-li {
    margin-bottom: 40px;
  }
  
  .home {
    margin-top: 30px;
  }
  
  .assignments {
    margin-top: 40px;
  }
  
  .main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }
  
  .description {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  
  .bar-chart {
    grid-column: 1;
    grid-row: 2;
  }
  
  .bar-chart-home {
    grid-column: 1;
    grid-row: 2;
    margin-top: 75px;
  }
  
  .line-chart {
    margin-top: 75px;
  }
  
  .banner-right {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  
  #radio-buttons {
    height: 57%;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    font-size: 12px;
  }
  
  #radio-buttons label input {
    border: 0px;
    height: 10px;
  }
  
  .legend {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -70px;
  }
  
  .title-home,
  .title-students {
    flex: 1 1 100%;
    text-align: center;
    font-weight: bold;
  }
  
  .wrapper-legend {
    margin: 20px;
    display: flex;
    align-items: center;
  }
  
  .blue {
    background-color: #19aca4;
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  
  .pink {
    background-color: #f1909d;
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
  
  .score-difficulty,
  .score-funfactor {
    font-size: 14px;
  }
  
  .student-profile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }
  
  .student-name {
    font-size: 20px;
    font-weight: bold;
  }
  
  .checkbox {
    display: none;
  }
  
  .filters {
    display: flex;
    flex-flow: column wrap;
    font-size: 17px;
  }
  
  .first-label {
    margin-bottom: 20px;
  }
  
  .expl {
    font-size: 12px;
  }
  
  .filter-studentpage {
    margin-top: 50px;
    text-align: center;
  }
  
  .filter-homepage {
    margin-top: 30px;
    text-align: center;
  }